/*stylesheet for matthew tucker's professional webpage
 * creator: Matthew A. Tucker
 * contact: matucker@ucsc.edu 
 
 LAST UPDATE: 9/3/2012 */
 
 /*body general styles*/
body {
	text-align: center;
	background-color: #c8ced3;
	color: #1f292f;
	padding: 30px;
	margin: 0px;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	line-height: 19px;
}

/*container for main content*/
#container {
	text-align: left;
	width: 700px;
	background-color: #fff;
	margin: 0px auto;
	/*padding: 10px;*/
}

/* content body styles*/
.contentbody{
	padding: 15px;
	
}

/*container for navigation bar*/
.navbar {
	height: 30px;
	background-color: #9da9ae;
	color: #fff;
	margin: 0px 0px 10px 0px;
	text-align: center;
	clear: both;
}

/*navigation bar uls*/
.navigation {
	margin: 0px;
	padding: 0px 20px 0px 0px;
	font-size: 11px;
	line-height: 30px;
	white-space: nowrap;
}

/*navigation list items*/
.navitem {
	list-style-type: none;
	display: inline;
	padding: 5px;
	margin: 0px 2px 0px 0px;
}

li#currentnav {
	color: #000;
	list-style-type: none;
	display: inline;
	padding: 5px;
	margin: 0px 2px 0px 0px;
}

/*link-specific styles*/
a {
	cursor: pointer;
	color: #2c4351;
}

.navitem a{
	text-decoration: none;
	color: #fff;
	padding: 8px;
}

.navitem a:hover{
	background-color: #2c4351;
}

/*name, header style*/
#namebanner {
	font-family: Garamond, Tahoma, Georgia, serif;
	font-size: 32px;
	margin: 15px;
	text-align: center;
	color: #444f58;
	font-weight: bold;
}

#arabicbanner {
	font-size: 32px;
	margin: 15px;
	text-align: center;
	color: #444f58;
}

h2#currenttitle{
	font-family: Garamond, Tahoma, Georgia, serif;
	font-size: 28px;
	margin: 15px;
	text-align: center;
	color: #444f58;
	font-weight: normal;
}

h3 {
	margin: 5px 0px;
	color: #444f58;
}

/*picture styles*/
.pictures{
	text-align: center;
	padding-bottom: 15px;
}

.construct{
	font-variant: small-caps;
}