---
layout: default
title:  "Contact"
---

<div class="page-container">
	<h1 class="page-heading">Contact Information</h1>
	
    <span id="english-name">Matthew A. Tucker</span>
    <span id="arabic-name">ماثيو (متّى) توكر</span>
	
	<div class="rel-wrap">
	<div class="img-wrap">
		<img src="/files/images/western-matt.jpg" />
		<img src="/files/images/arab-matt.jpg" />
	</div>
	</div>
	
	<p><a href="https://wwwp.oakland.edu/linguistics/" target="_blank">Department of Linguistics</a><br />
	<a href="http://www.oakland.edu/" target="_blank">Oakland University</a></p>
	
	<h4>Mailing Address</h4>
	<p>Linguistics Department<br />
		Oakland University<br />
		1018 Human Health Building<br />
		433 Meadow Brook Road<br />
		Rochester, MI 48309-4401</p>
		
	<h4>Office, Phone, etc.</h4>
	<p>	<em>Office:</em> 1018 Human Health Building<br />
		<em>Phone:</em> +1 (248) 364-8848<br />
		<em>Email:</em> matthewtucker [shift-2] oakland [end-of-sentence-marker] edu</p>
		
	<h4>Affiliations</h4>
	<ul>
		<li><a href="https://wwwp.oakland.edu/linguistics/" target="_blank">OU Department of Linguistics</a></li>
		<li><a href="http://lamb-lab.github.io/lamb.lab.github.io/" target="_blank">NYUAD Language, Mind, and Brain Lab</a></li>
		<li><a href="http://www.linguisticsociety.org/" target="_blank">Linguistic Society of America</a></li>
		<li><a href="http://www.neurolang.org/" target="_blank">Society for the Neurobiology of Language</a></li>
		<li><a href="http://www4.uwm.edu/letsci/linguistics/als/" target="_blank">Arabic Linguistics Society</a></li>
	</ul>
	
	<h4>Former Affiliations</h4>
	<ul>
		<li><a href="http://www.psych.nyu.edu/nellab/" target="_blank">NYU Neuroscience of Language Lab (NeLLab)</a></li>
		<li><a href="https://nyuad.nyu.edu/en/academics/academic-divisions/science/psychology.html" target="_blank">NYUAD Psychology Program</a></li>
		<li><a href="http://linguistics.ucsc.edu/" target="_blank">UC Santa Cruz Department of Linguistics</a></li>
		<li><a href="https://www.ling.upenn.edu/" target="_blank">UPenn Department of Linguistics</a></li>
		<li><a href="http://web.stanford.edu/~gribanov/CrISP.html" target="_blank">Crosslinguistic Investigations in Syntax-Prosody (CrISP)</a></li>
		<li><a href="http://people.ucsc.edu/~jpguevar/slab.html" target="_blank">UC Santa Cruz Syntax, Semantics, and Language Processing Lab (SLAB)</a></li>
		<li><a href="http://linguistics.cornell.edu/" target="_blank">Cornell University Department of Linguistics</a></li>
	</ul>
	
	<h4>Other Internet Presences</h4>
	
	<span class="social-media">{% include icon-github.html username=site.github_username %}</span>
	
	<!--<span class="social-media">{% include icon-twitter.html username=site.twitter_username %}</span> -->
	
	
</div>