.blog-container {
	margin: $spacing-unit / 2 0;
}

.blog-banner-container {
	background-color: $dark-blue-grey;
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.blog-tagline { 
	color: $blue-light-grey;
	text-align: center;
	display: block;
	padding-bottom: $spacing-unit / 4;
	font-style: italic;
}

.blog-title {
    font-size: $biggerer-font-size;
    font-weight: 300;
    line-height: 56px;
    display: block;
    text-align: center;
    margin: 0 auto;
    display: block;

    &,
    &:visited {
        color: $blue-light-grey;
    }
    &:hover {
	    color: $blue-med-grey;
    }
}

.blog-banner {
	display: block;
	width: $content-width;
	height: 251px;
}

.blog-footer {
    padding: $spacing-unit 0;
    text-align: center;
    color: $blue-light-grey;
    
    & a {
	    color: darken($blue-light-grey, 25%);
    }
    
    & a:hover {
	    color: $white;
    }
}


.blog-nav {
	width: 15%;
	position: fixed;
	background-color: $white;
	border-top: 1px solid $blue-light-grey;
	border-right: 1px solid $blue-light-grey;
	border-bottom: 1px solid $blue-light-grey;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    & div:not(:last-child) {
	    border-bottom: 1px dashed $black;
    }
    
    & p {
	    padding-left: $spacing-unit / 4;
	    //padding-top: $spacing-unit / 2;
    }
}

.nav-list {
	
	margin-left: $spacing-unit / 2;
	
	& li {
		list-style-type: none;
	}
}

.nav-header {
	font-weight: bold;
	font-size: $big-font-size;
	margin-bottom: 0;
}

.blog-content {
    height: auto;
    right: 0;
    padding: $spacing-unit;
    background-color: $white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

