<!DOCTYPE html>
<html>

  {% include blog-head.html %}

  <body>
	  
	<div class="blog-container">

    {% include blog-header.html %}
    
    <div class="blog-nav">
	    <div class="nav-object">
	   	<p class="nav-header">Recent Posts</p>
	    <ul class="nav-list">
			{% for post in site.categories.blog offset: 0 limit: 3 %}
				<li><a href="{{ post.url }}">{{ post.title}}</a></li>
			{% endfor %}
		</ul>
	    </div>
	    
	    <div class="nav-object">
		<p class="nav-header">Archives</p>
		<ul class="nav-list">
			<li><a href="{{ "/blog/archive/topics/" | prepend: site.baseurl }}">By Topic</a></li>
			<li><a href="{{ "/blog/archive/months/" | prepend: site.baseurl }}">By Month</a></li>
		</ul>
		</div>
		
		<div class="nav-object">
		<p class="nav-header">Et Cetera</p>
		<ul class="nav-list">
			<li><a href="{{ "/blog/about/" | prepend: site.baseurl }}">About</a></li>
		</ul>
		</div>
	</div>
	
	<div class="wrapper">
	
    	
    	<div class="blog-content">	
        	{{ content }}
        </div>

	  {% include blog-footer.html %}
    </div>
    </div>

  </body>

</html>
