<!DOCTYPE html>
<html>

  {% include blog-head.html %}

  <body>

    {% include blog-header.html %}
    
    <div class="blog-nav">
	    <div class="nav-object">
	   	<p class="nav-header">Recent Posts</p>
	    <ul class="nav-list">
			<li>Test 1</li>
			<li>Test 2</li>
			<li>Test 3</li>
		</ul>
	    </div>
	    
	    <div class="nav-object">
		<p class="nav-header">By Topic</p>
		<ul class="nav-list">
			stuff
		</ul>
	    </div>
		
		<div class="nav-object">
		<p class="nav-header">Et Cetera</p>
		<ul class="nav-list">
			<li>About</li>
		</ul>
		</div>
		
		<div class="nav-object">
		<p class="nav-header">Archives</p>
		<ul class="nav-list">
			stuff
		</ul>
		</div>
	</div>
	
	<div class="wrapper">
	
    	
    	<div class="blog-content">	
        	{{ content }}
        </div>

	  {% include blog-footer.html %}
    </div>

  </body>

</html>
